* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
}

.titulo-destaque {
    color: blue;
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo {
    width: 615px;

}

.apresentacao_conteudo_titulo {
    font-size: 36px;
}

.apresentacao_conteudo_texto{
    font-size: 24px;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link{
    background-color: #22d4fd;
    width: 280 px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21px 0 ;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, sans-serif;
}